#view-expense chart {
    width: 100% !important;
    margin: 0 auto;
    display: block;
}
#view-expense .card {
    margin-bottom: 20px;
}
#view-expense button.fab {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 100;
}
#view-expense .month-date-picker {
    font-size: 14px;
    width: 40%;
}
#view-expense .no-data .mat-icon {
    width: auto;
}
#view-expense .no-data h2 {
    text-align: center;
}
